<script>
$(document).ready(function() {

  $chunks = $('.fold');

  $chunks.each(function () {

    // add button to source code chunks
    if ( $(this).hasClass('s') ) {
      $('pre.r', this).prepend("<div class=\"showopt\">Show Source</div>");
      $('pre.r', this).children('code').attr('class', 'folded');
    }

    // add button to output chunks
    if ( $(this).hasClass('o') ) {
      $('pre:not(.r)', this).has('code').prepend("<div class=\"showopt\">Show Output</div>");
      $('pre:not(.r)', this).children('code:not(r)').addClass('folded');

      // add button to plots
      $(this).find('img').wrap('<pre class=\"plot\"></pre>');
      $('pre.plot', this).prepend("<div class=\"showopt\">Show Plot</div>");
      $('pre.plot', this).children('img').addClass('folded');

    }
  });

  // hide all chunks when document is loaded
  $('.folded').css('display', 'none')

  // function to toggle the visibility
  $('.showopt').click(function() {
    var label = $(this).html();
    if (label.indexOf("Show") >= 0) {
      $(this).html(label.replace("Show", "Hide"));
    } else {
      $(this).html(label.replace("Hide", "Show"));
    }
    $(this).siblings('code, img').slideToggle('fast', 'swing');
  });
});
</script>

<style>
.showopt {
  class: btn btn-primary;
  padding-bottom: 2px;
  background-color: #004c93;
  color: #FFFFFF; 
  width: 80px;
  height: 14px;
  font-size:80%;
  text-align: center;
  vertical-align: middle !important;
    font-family: sans-serif;
  border-radius: 2px;
}

.showopt:hover {
    background-color: green;
    color: #FFD400;
}

pre.plot {
  background-color: white !important;
}

.figcaption {
  padding-right: 50px;
  padding-left: 50px;
  font-family: Tahoma, Verdana, sans-serif;
  font-style: italic;
  bottom: 0;
  text-align: justify;
  font-size: 13px;
  border: 0px solid blue;
}
</style>
